<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let message of allMessages" [class.my-message]="message.from == shared.userName">

    <ion-card-content *ngIf="message.imageUrl">
      <img src="{{message.imageUrl}}">
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>{{ message.from }}</ion-card-title>
      <ion-card-subtitle>{{message.text}}</ion-card-subtitle>
    </ion-card-header>
    
  </ion-card>

</ion-content>
